<template>
  <section>
    <div class="container ">
      <div class="column">
        <div class="column">
          <div class="card">
            <header class="section has-text-centered">
              <h1 class="title t1">
                登入
              </h1>
            </header>
            <div class="box is-large">
              <b-field
                label="Username"
              >
                <b-input v-model="username" maxlength="30" />
              </b-field>

              <b-field label="Password">
                <b-input
                  v-model="password"
                  type="password"
                  password-reveal
                />
              </b-field>
              <div class="buttons">
                <b-button @click="checkLogin" type="is-primary" expanded>
                  Login
                </b-button>
                <b-button @click="checkLogin2" type="is-primary" expanded>
                  Login2
                </b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data () {
    return {
      username: '',
      password: ''
    }
  },
  async asyncData ({ app, params }) {
    // await app.$axios.get('/users').then((res) => {
    //   console.log(res.data)
    // })
  },
  methods: {
    checkLogin ({ context }) {
      // this.$axios.post('/users', { username: this.username, password: this.password })
      //   .then((res) => {
      //     if (res.status === 1) { this.$store.commit('user/insert', res.data) }
      //   })
      this.$auth.loginWith('local', {
        data: {
          username: this.username,
          password: this.password
        }
      })
      // console.log(a)
    },
    checkLogin2 ({ context }) {
      this.$axios.setHeader('test', 'DmiGiYKxwYJ1jMfH9gtFBPgLzmwDS0HPWiM3wuugzUUqlA4Z6PbN8pnYRpEmeU4FRslHbY7M91YF1c3QGTCmo7J2oHTseE0mbe8Z')
      // this.$axios.post('/users', { username: this.username, password: this.password })
      //   .then((res) => {
      //     if (res.status === 1) { this.$store.commit('user/insert', res.data) }
      //   })
    }
  }

}
</script>
